.contentA .card-body{
    background-color: #1b2653;
    color: #E4E9F7;
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.section-title{
    text-align: center;
}

.contact .info-wrap {
    background: var(--background-contact-color);    /* Background Form Original rgba(10, 10, 10, 0.06);  Alt 0.192 */
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--text-color);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background: rgba(10, 10, 10, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #ff0000;
    color: #fff;
  }
  
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #ff0000;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    padding: 30px;
    padding-top: 0;
    background: var(--background-contact-color);   /* Background Form Original rgba(10, 10, 10, 0.06);  Alt 0.192 */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: rgb(255, 255, 255);   /* Form Input Boxes - Original rgba(5, 4, 4, 0.158) */
    border: 1px solid rgb(14, 14, 14);   /* Border Original rgba(14, 14, 14, 0.2); */
    color: rgb(0, 0, 0);   /* Original Text color */
  }
  
  .contact .php-email-form input::-webkit-input-placeholder, .contact .php-email-form textarea::-webkit-input-placeholder {
    color: rgba(14, 14, 14, 0.2);  /* Original rgba(255, 255, 255, 0.4) */
  }
  
  .contact .php-email-form input::-moz-placeholder, .contact .php-email-form textarea::-moz-placeholder {
    color: rgba(14, 14, 14, 0.2);  /* Original rgba(255, 255, 255, 0.4) */
  }
  
  .contact .php-email-form input::placeholder, .contact .php-email-form textarea::placeholder {
    color: rgba(14, 14, 14, 0.671);  /* Placeholder text color - Original rgba(255, 255, 255, 0.4) */
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #8a7efc;  /* Original: #ff0000  */
    border: 0;
    padding: 10px 24px;
    color: rgb(255, 255, 255);
    transition: 0.4s;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #574daf;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  