<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
    src="https://kit.fontawesome.com/999ca2bb93.js"
    crossorigin="anonymous"
    ></script>

    <!-- ---------Dropdown NavBar Style Components----------- -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <!-- Boxiocns CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- <nav class="sidebar"> -->
      <div class="sidebar close">
        <div class="logo-details">
          <img
            src="{{ url_for('static', filename='holacuentame_logo_80px_black.png')}}"
            alt="HolaCuentame Logo"
          />
          <span class="logo_name">Cuenta.me</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/home">
              <i class="bx bx-grid-alt"></i>
              <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="/home">Home</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="/home">
                <i class="bx bx-book-alt"></i>
                <span class="link_name">Posts</span>
              </a>
              <i class="bx bxs-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="/home">Posts</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="/logout">
              <i class="bx bx-log-out"></i>
              <span class="link_name">Log Out</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="/logout">Log Out</a></li>
            </ul>
          </li>
          {% else %}
          <li>
            <a href="#">
              <i class="bx bx-log-in"></i>
              <span class="link_name">Login</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="/login">Login</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="/sign-up">
                <i class="bx bx-user-pin"></i>
                <span class="link_name">Sign-Up</span>
              </a>
              <i class="bx bxs-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="/sign-up">Sign-Up</a></li>
            </ul>
          </li>
          {% endif %}
          <li>
            <div class="profile-details">
              <div class="profile-content">
                <a
                    class="link_name"
                    href="http://arpportfoliov1.000webhostapp.com/"
                    target="_blank"
                  >
                <img
                  src="{{ url_for('static', filename='profile.jpg')}}"
                  alt="profileImg"
                />
              </div>
              <div class="name-job">
                <div class="profile_name">
                  <a
                    class="link_name"
                    href="http://arpportfoliov1.000webhostapp.com/"
                    target="_blank"
                  >
                    Arturo Rivera Paniza</a
                  >
                </div>
                <div class="job">Programmer</div>
              </div>
              <a class="link_name" href="/logout"><i class="bx bx-log-out"></i></a>
              
              
            </div>
          </li>
        </ul>
      </div>
      <section class="home-section">
        <div class="home-content">
          <i class="bx bx-menu"></i>
          <span class="image">
            <img
              src="{{ url_for('static', filename='holacuentame_200px_height_black.png')}}"
              alt="Logo HolaCuenta.me Full"
            />
          </span>

          <!-- This part is added -->

          {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %} {% if category ==
            'error' %}
            <div class="alert alert-danger alter-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}
            <div class="container">{% block content %}{% endblock %}</div>
        
            <!-- End this part is added -->

        </div>
      </section>
    <!-- </nav> -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    ></script>
    <!-- ------------Dropdown NavBar Style JS------------ -->
    <script src="{{ url_for('static', filename='ddscript.js')}}"></script>
  </body>
</html>
