{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="container">
  <!-- <input type="checkbox" id="flip" /> -->
  <div class="cover">
    <div class="front">
      <img src="images/frontImg.jpg" alt="" />
      <div class="text">
        <span class="text-1"
          >Every new friend is a <br />
          new adventure</span
        >
        <span class="text-2">Let's get connected</span>
      </div>
    </div>
    <div class="back">
      <img src="{{ url_for('static', filename='frontImg.jpg')}}" alt="Login" />
      <div class="text">
        <span class="text-1"
          >Complete miles of journey <br />
          with one step</span
        >
        <span class="text-2">Let's get started</span>
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-content">
      <div class="login-form">
        <div class="title">Login</div>
        <form method="POST">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" id="email" name="email" placeholder="Enter your email" required />
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>
            <div class="text"><a href="#">Forgot password?</a></div>
            <div class="button input-box">
              <input type="submit" value="Sumbit" />
            </div>
            <div class="text sign-up-text">
              Don't have an account? <a href="/sign-up">Sigup now</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
